.button {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 15px;
  gap: 15px;
  margin-left: 110px;
  background-color: #007acc;
  outline: 3px #007acc solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #007acc;
}

.button:hover svg path {
  fill: #007acc;
}

.buttonEmergencia {
  margin-top: 7%;
  margin-bottom: 40%;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #ff0000;
  outline: 3px #ff0000 solid;
  outline-offset: -3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.buttonEmergencia .text {
  color: white;
  font-weight: 700;
  font-size: 2em;
  transition: 400ms;
}

.buttonEmergencia svg path {
  transition: 400ms;
}

.buttonEmergencia:hover {
  background-color: transparent;
}

.buttonEmergencia:hover .text {
  color: #cc0000;
}

.buttonEmergencia:hover svg path {
  fill: #ff0000;
}

/* Animaciones para el botón flotante y el botón de emergencia */
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Hover animation para el botón flotante */
.emergency-button:hover {
  animation: scaleUp 0.3s ease-in-out forwards;
}

/* Hover animation para el botón de emergencia dentro del modal */
.emergency-modal-button:hover {
  animation: pulse 1s infinite;
}

/* Animación de Fade-In para el modal */
@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
